@model List<Course>
@{
    ViewData["Title"] = "_SearchCoursePartial";
}
@if (Model.Count == 0)
{
    <h1>Course not found</h1>   
}
@foreach (var course in Model)
{
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-course mb-70">
            <div class="course-img">
                <a asp-action="Details" asp-route-id=@course.Id><img src="~/img/course/@course.Image" alt="course">
                    <div class="course-hover">
                        <i class="fa fa-link"></i>
                    </div>
                </a>
            </div>
            <div class="course-content">
                <h3><a asp-action="Details" asp-route-id=@course.Id>@course.Name</a></h3>
                <div class="mb-20" style="height: 72px; overflow:hidden;">
                    @Html.Raw(course.Description)
                </div>
                <a class="default-btn" asp-action="Details" asp-route-id="@course.Id">read more</a>
            </div>   
        </div>
    </div>
}

