@{
    SubscribeViewModel subscribeViewModel = Model;
    User user = subscribeViewModel.User;
    Subscribe subscribe = subscribeViewModel.Subscribe;
}
<!-- Subscribe Start -->
<div class="subscribe-area pt-60 pb-70" >
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="subscribe-content section-title text-center">
                    <h2>@subscribe.Title</h2>
                    <p>@subscribe.Subtitle</p>
                </div>
                <div class="newsletter-form mc_embed_signup text-center" id="subscribe-box">
                    <button id="subscribe" class="default-btn" ><span>subscribe</span></button>
                    <input id="userId" value ="@user.Id" type="hidden"/>
                    <!-- mailchimp-alerts Start -->
                    <div class="mailchimp-alerts">
                        <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                        <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                        <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                    </div>
                    <!-- mailchimp-alerts end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Subscribe End -->

